[mgr]
ratio = [1, 2, 3]
linemode = "size"

[preview]
wrap = "yes"

[open]
prepend_rules = [
    { mime = "audio/*", use = "play_audio" },
    { url = "*.docx", use = ["doxx", "pandoc"] },
    { url = "*.doc", use = ["antiword"] },
    { url = "*.html", use = ["edit", "open"] },
    { url = "*.ipynb", use = ["open"] },
]

[opener]
play_audio = [
	{ run = 'mpv "$@"', block = true },
]
doxx = [
    # export docx to text, then open nvim to edit it
    { run = 'doxx "$@" --export text | nvim -c "set filetype=markdown" -c "set wrap" -', block = true },
]
pandoc = [
    { run = 'pandoc "$@" -s -t markdown --wrap=none | nvim -c "set filetype=markdown" -c "set wrap" -', block = true },
]
antiword = [
    { run = 'antiword "$@" | nvim -c "set filetype=plain" -c "set wrap" -', block = true },
]

[[plugin.prepend_fetchers]]
id = "no-remote"
url = "/mnt/remote/**"
run = "noop"

[[plugin.prepend_fetchers]]
id = "git"
url = "*"
run = "git"

[[plugin.prepend_fetchers]]
id = "git"
url = "*/"
run = "git"

[plugin]
prepend_previewers = [
    # { url = "/mnt/remote/**", run = "noop" },
    { url = "*.csv", run = 'piper -- rich -j --left --panel=rounded --guides --line-numbers --force-terminal "$1"' },   # for csv files
    # { url = "*.md", run = 'piper -- CLICOLOR_FORCE=1 glow -w=$w -s=$( [[ $(kreadconfig6 --group General --key ColorScheme) == *[Dd]ark* ]] && echo dark || echo light ) "$1"' },
    # mcat is faster and prettier than glow. need to strip the stdin header and OSC 8 hyperlink escape sequences
    { url = "*.md", run = 'piper -- mcat -P -c -f --opts "scale=0.49" --theme=$( [[ $(kreadconfig6 --group General --key ColorScheme) == *[Dd]ark* ]] && echo kanagawa || echo makurai_light ) "$1" | tail -n +9 | perl -pe "s/\e\]8;[^;]*;[^\e]*\e\\\\//g"' },
    { url = "*.rst", run = 'piper -- rich -j --left --panel=rounded --guides --line-numbers --force-terminal "$1"' },   # for restructured text (.rst) files
    { url = "*.ipynb", run = 'piper -- rich -j --left --panel=rounded --guides --line-numbers --force-terminal "$1"' }, # for jupyter notebooks (.ipynb)
    { url = "*.html", run = 'piper -- (command -v cha >/dev/null 2>&1 && cha -d "$1") || w3m -dump "$1"' },
    { url = "*.docx", run = 'piper -- doxx "$1" --export ansi -w=$w --color-depth 4' },
    { url = "*.doc", run = 'piper -- antiword "$1"' },

    # mediainfo
    # Replace magick, image, video with mediainfo
    { mime = "{audio,video,image}/*", run = "mediainfo"},
    { mime = "application/subrip", run = "mediainfo" },
    # Adobe Illustrator, Adobe Photoshop is image/adobe.photoshop, already handled above
    { mime = "application/postscript", run = "mediainfo" },
]
prepend_preloaders = [
    { url = "/mnt/remote/**", run = "noop"},

    # mediainfo
    # Replace magick, image, video with mediainfo
    { mime = "{audio,video,image}/*", run = "mediainfo" },
    { mime = "application/subrip", run = "mediainfo" },
    # Adobe Illustrator, Adobe Photoshop is image/adobe.photoshop, already handled above
    { mime = "application/postscript", run = "mediainfo" },
]
