[Desktop Entry]
Categories=AudioVideo;
Comment[en_US]=Tencent Meeting Linux Client
Comment=Tencent Meeting Linux Client
Comment[zh_CN]=腾讯会议Linux客户端
Exec=env QT_IM_MODULE=fcitx wemeet-x11 %u
GenericName[en_US]=
GenericName=
Icon=wemeet
Keywords=wemeet;tencent;meeting;
MimeType=
Name[en_US]=WemeetApp
Name=WemeetApp
Name[zh_CN]=腾讯会议
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
