[Desktop Entry]
Categories=Office;WordProcessor;Qt;
Comment[en_US]=Use WPS Writer to office work.
Comment=Use WPS Writer to office work.
Comment[zh_CN]=使用 WPS 2019进行办公
Exec=env QT_IM_MODULE=fcitx /usr/bin/wps %F
GenericName[en_US]=WPS
GenericName=WPS
GenericName[zh_CN]=WPS 2019
Icon=wps-office2019-kprometheus
InitialPreference=3
MimeType=
Name[en_US]=WPS 2019
Name=WPS 2019
Name[zh_CN]=WPS 2019
Path=
StartupNotify=false
StartupWMClass=wpsoffice
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
