[Desktop Entry]
Categories=Office;Presentation;Qt;
Comment[en_US]=Use WPS Presentation to edit and play presentations.
Comment=Use WPS Presentation to edit and play presentations.
Comment[zh_CN]=使用 WPS 演示编辑、播放演示文稿
Exec=env QT_IM_MODULE=fcitx /usr/bin/wpp %F
GenericName[en_US]=WPS Presentation
GenericName=WPS Presentation
GenericName[zh_CN]=WPS 演示
Icon=wps-office2019-wppmain
InitialPreference=3
MimeType=application/wps-office.pptx;application/wps-office.ppt;application/wps-office.potx;application/wps-office.pot;application/wps-office.dpt;application/wps-office.dpss;application/wps-office.dpso;application/wps-office.dps;application/vnd.openxmlformats-officedocument.presentationml.slideshow;application/vnd.openxmlformats-officedocument.presentationml.presentation;application/vnd.ms-powerpoint;application/vnd.ms-powerpoint;application/vnd.ms-powerpoint;application/vnd.ms-powerpoint;
Name[en_US]=WPS Presentation
Name=WPS Presentation
Name[zh_CN]=WPS 演示
Path=
StartupNotify=false
StartupWMClass=wpp
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
