[Desktop Entry]
Exec=/home/aik2/Scripts/spectacle-ocr.sh
Name=/home/aik2/Scripts/spectacle-ocr.sh
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
