[Desktop Entry]
Exec=sh -c "\$HOME/Scripts/spectacle-ocr.sh"
Name=spectacle-ocr
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
