[Desktop Entry]
Exec=/home/aik2/Scripts/xdg-desktop-portal-restart.sh
Icon=application-x-shellscript
Name=xdg-desktop-portal-restart.sh
Type=Application
X-KDE-AutostartScript=true
