[Desktop Entry]
Exec=/bin/bash -c "$HOME/Scripts/xdg-desktop-portal-restart.sh"
Icon=application-x-shellscript
Name=xdg-desktop-portal-restart.sh
Type=Application
X-KDE-AutostartScript=true
